html {
  min-height: 100%;
}

body {
 background: linear-gradient(to bottom, #fff 50px, #f6f6f6 150px);
 margin: 0;
 display: flex;
 flex-direction: row;
 min-height: 100vh;
 font-family: sans-serif;
 font-size: 0.75em;
 }

 h1, h2 {
   font-family: serif;
   font-weight: normal;
   margin: 0;
   border-bottom: 1px solid #aaa;
   overflow: hidden;
 }

 h1 {
   font-size: 28.8px;
 }

 h2 {
   font-size: 22px;
   padding-top: 10px;
 }

 h4 {color: #4d4d4d;
   font-family: sans-serif;
   font-size: 12px;
   font-weight: normal;
 }

 a {
   color: rgb(6, 69, 173);
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

 a:visited {
   color: #0b0080;
 }

 p {
   font-family: sans-serif;
   font-size: 14px;
   line-height: 25px;
 }

 ul {
   list-style-type: disc;
   list-style-image: #0b0080;
 }

 ol {
   font-family: sans-serif;
   font-size: 12px;
   line-height: 25px;
 }

 .source {
   font-size: 13px;
   padding-top: 10px;
 }

 .navigate ol {
   list-style: none;
   font-size: 13px;
   line-height: 20px;
   padding-left: 10px;
 }

 .navigate h4 {
   color: black;
   font-size: 13px;
 }

 .navigate {
   border: 1px solid #aaa;
   margin: 6px;
   padding-left: 5px;
   box-sizing: border-box;
   width: 120px;
   height: 240px;
 }

.inside {
  padding-left: 15px;
}

.biography dt {
  line-height: 20px;
  font-size: 13px;
  margin-left: 80px;
}

.biography dd {
  font-size: 13px;
  float: left;
  margin-left: 0;
}

.biography h3 {
  font-size: 16px;
  padding-left: 35px;
  margin-top: -20px;
  margin-bottom: 5px;
}

.biography p {
  font-size: 11px;
  padding-left: 65px;
  margin-top: -5px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}



 .tab {
   background: linear-gradient(to bottom, #fff 0%, #a7d7f9 100%);
   padding-left: 1px;
 }

.tab li {
  padding-right: 1px;
}

.tab a {
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
  display: block;
  bottom: -1px;
  padding: 15px 5px 5px 5px;
  position: relative;
}

.tab a:visited {
  color: #0b0080;
}

.active-tab a {
  background: #fff;
  border-bottom: 1px solid #fff;

}

.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  order: 0;
  width: 176px;
  felx: 0 0 auto;
}

.main-sidebar ul {
  list-style: none;
  line-height: 20px;
  padding-left: 30px;
  }

.main-sidebar h4 {
  padding-left: 20px;
  margin-bottom: -10px;
}

.main-header {
  font-size: 12px;
  height: 80px;
  position: relative;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header nav, .search {
  position: absolute;
}

.user-menu {
  top: 0;
  right: 10px;
}

.user-menu a {
  display: block;
  padding: 10px 5px;
}

.user-status {
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/user-icon.png?9e7ea) no-repeat 5px center;
  color: grey;
  padding: 10px 5px 10px 20px;
}

.main-content {
  background: white;
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  padding: 16px;
}

.biography {
  background-color: #f9f9f9;
  height: 500px;
  width: 280px;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0px 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.nasa {
  border: 1px solid #aaa;
  margin: 6px 0px 12px 12px;
  padding: 3px;
  box-sizing: border-box;
  width: 230px;
  height: 220px;
  float: right;
}
.nasa img {
  background-color: #f9f9f9;
  width: 222px;
  float: right;
  padding-bottom: 5px;
}

.nasa p {
  font-size: 12px;
  line-height: 15px;
}

.apollo img {
  background-color: #f9f9f9;
  width: 222px;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0px 12px 12px;
  padding: 3px;
  box-sizing: border-box;
}

.legacy img {
  background-color: #f9f9f9;
  width: 222px;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0px 12px 12px;
  padding: 3px;
  box-sizing: border-box;
}
.main-footer {
  height: 150px;
}

.main-footer p {
  font-size: 11px;
  line-height: 17px;
}


.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: rgba(0, 0, 0, 0);
}

.talk-menu {
  left: 0;
  bottom: 0px;
}

.edit-menu {
  right: 200px;
  bottom: 0px;
}

.search {
  background-color: transparent;
  border: 1px solid;
  color: #aaa;
  font-size: 13px;
  right: 10px;
  bottom: 3px;
  padding: 5px 5px 5px;
  width: 15%;
  height: 25px;
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/search-ltr.png?511c1) no-repeat center right 5px, linear-gradient(to bottom, #f6f6f6 0%, white 100%);
  outline: 0;
}

.publications ul {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
}


.submit {
  background: transparent;
  border: 0;
  bottom: 0;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 10px;
  width: 25px;
  bottom: 2px;
}

.hr {
  background: linear-gradient(to right, #fff 0%, #ccc 50%, #fff 100%);
  height: 1px;
}

.menu-top ul {
  padding-left: 15px;
}

.ref {
  vertical-align: super;
  font-size: 0.8em;
  line-height: 0;
}

.category-menu {
background: #f9f9f9;
border: 1px solid #aaa;
display: flex;
}

.category-menu ul {
  padding-left: 5px;
  margin: 5px 0px;
  display: flex;
  list-style: none;
}

.category-menu li {
  flex-direction: row;
}

.category-menu li + li {
  border-left: 1px solid #aaa;

}

.category-menu a {
  padding: 2.5px;
}

.footer-menu {
  background: #f9f9f9;
  border: 1px solid #aaa;
}

.footer-menu ul {
  padding-left: 5px;
  margin: 5px 0px;
  display: flex;
  list-style: none;

}

.footer-menu li {
  flex-direction: row;
}

.footer-menu a {
  padding: 2.5px;
}
