html {
  min-height: 100%;
}

body {
 background: linear-gradient(to bottom, #fff 50px, #f6f6f6 150px);
 display: flex;
 flex-direction: row;
 font-family: sans-serif;
 font-size: 0.75em;
 margin: 0;
 min-height: 100vh;
}

h1, h2 {
  border-bottom: 1px solid #aaa;
  font-family: serif;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
}

h1 {
 font-size: 28.8px;
}

h2 {
  font-size: 22px;
  padding-top: 10px;
}

h4 {color: #4d4d4d;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}

a {
  color: rgb(6, 69, 173);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0b0080;
}

p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
}

ul {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
  list-style-type: disc;
}

ol {
   font-family: sans-serif;
   font-size: 12px;
   line-height: 25px;
}

.warning {
  padding-left: 20px;
  padding-bottom: 10px;
}

.source {
  font-size: 13px;
  padding-top: 10px;
}

.navigate {
  border: 1px solid #aaa;
  box-sizing: border-box;
  height: 240px;
  margin: 6px;
  padding-left: 5px;
  width: 120px;
 }

.navigate ol {
  font-size: 13px;
  list-style: none;
  line-height: 20px;
  padding-left: 10px;
}

.navigate h4 {
  color: black;
  font-size: 13px;
}

.inside {
  padding-left: 15px;
}

.biography dt {
  font-size: 13px;
  line-height: 20px;
  margin-left: 80px;
}

.biography dd {
  font-size: 13px;
  float: left;
  margin-left: 0;
}

.biography h3 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: -20px;
  padding-left: 35px;
}

.biography p {
  font-size: 11px;
  margin-top: -5px;
  padding-left: 65px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.tab {
  background: linear-gradient(to bottom, #fff 0%, #a7d7f9 100%);
  padding-left: 1px;
 }

.tab li {
  padding-right: 1px;
}

.tab a {
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
  bottom: -1px;
  display: block;
  padding: 15px 5px 5px 5px;
  position: relative;
}

.tab a:visited {
  color: #0b0080;
}

.active-tab a {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.main-container {
  order: 1;
  width: 100%;
}

.awards ul li,
.publications ul li {
  list-style: none;
  margin-left: 5px;
}

.awards ul li:before,
.publications ul li:before {
  color: blue;
  content:'\2022';
  display: block;
  font-size: 20px;
  left: -15px;
  max-height: 0px;
  max-width: 0px;
  position: relative;
  top: 0;
}

.main-sidebar {
  felx: 0 0 auto;
  order: 0;
  width: 176px;
}

.main-sidebar ul {
  list-style: none;
  line-height: 20px;
  padding-left: 30px;
  }

.main-sidebar h4 {
  margin-bottom: -10px;
  padding-left: 20px;
}

.main-header {
  font-size: 12px;
  height: 80px;
  position: relative;
}

.main-header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-header li {
  list-style: none;
}

.main-header nav, .search {
  position: absolute;
}

.user-menu {
  right: 10px;
  top: 0;
}

.user-menu a {
  display: block;
  padding: 10px 5px;
}

.user-status {
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/user-icon.png?9e7ea) no-repeat 5px center;
  color: grey;
  padding: 10px 5px 10px 20px;
}

.main-content {
  background: white;
  border-bottom: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-top: 1px solid #a7d7f9;
  padding: 16px;
}

.biography {
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  height: 500px;
  margin: 6px 0px 12px 12px;
  padding: 25px;
  width: 280px;
}

.nasa {
  float: right;
  border: 1px solid #aaa;
  box-sizing: border-box;
  height: 230px;
  margin: 6px 0px 12px 12px;
  padding: 3px;
  width: 230px;
}
.nasa img {
  background-color: #f9f9f9;
  padding-bottom: 5px;
  width: 222px;
}

.nasa p {
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
}

.apollo {
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  height: 350px;
  margin: 6px 0px 12px 12px;
  padding: 3px;
  width: 230px;
}

.apollo img {
  background-color: #f9f9f9;
  box-sizing: border-box;
  float: right;
  margin: 6px 0px 12px 12px;
  margin-top: 0;
  padding: 3px;
  width: 222px;
}

.apollo p {
  font-size: 12px;
  line-height: 15px;
  margin-top: 0px;
  padding-left: 5px;
}

.legacy {
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  height: 330px;
  margin: 6px 0px 12px 12px;
  padding: 3px;
  width: 230px;
}

.legacy img {
  background-color: #f9f9f9;
  box-sizing: border-box;
  float: right;
  margin: 6px 0px 12px 12px;
  width: 222px;
  padding: 3px;
}

.legacy p {
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
  }

.main-footer {
  height: 150px;
}

.main-footer p {
  font-size: 11px;
  line-height: 17px;
  padding-left: 10px;
}


.logo {
  color: rgba(0, 0, 0, 0);
  background: url(../img/logo.png);
  display: block;
  height: 155px;
  margin: 6px auto 0;
  width: 135px;
}

.talk-menu {
  bottom: 0px;
  left: 0;
}

.edit-menu {
  bottom: 0px;
  right: 200px;
}

.search {
  color: #aaa;
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/search-ltr.png?511c1) no-repeat center right 5px, linear-gradient(to bottom, #f6f6f6 0%, white 100%);
  background-color: transparent;
  border: 1px solid;
  bottom: 3px;
  font-size: 13px;
  height: 25px;
  outline: 0;
  padding: 5px 5px 5px;
  right: 10px;
  width: 15%;
}

.publications ul {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.submit {
  background: transparent;
  border: 0;
  bottom: 0;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 10px;
  width: 25px;
}

.hr {
  background: linear-gradient(to right, #fff 0%, #ccc 50%, #fff 100%);
  height: 1px;
}

.references ol {
  -webkit-columns: 2 400px;
  -webkit-column-gap: 5em;
}

.references li {
  -webkit-column-break-inside: avoid;
}

.menu-top ul {
  padding-left: 15px;
}

.ref {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: super;
}

.category-menu {
background: #f9f9f9;
border: 1px solid #aaa;
display: flex;
}

.category-menu ul {
  display: flex;
  list-style: none;
  margin: 5px 0px;
  padding-left: 5px;
}

.category-menu li {
  flex-direction: row;
}

.category-menu li + li {
  border-left: 1px solid #aaa;
}

.category-menu a {
  padding: 2.5px;
}

.footer-menu {
  background: #f9f9f9;
}

.footer-menu ul {
  display: flex;
  list-style: none;
  margin: 5px 0px;
  padding-left: 5px;
}

.footer-menu li {
  flex-direction: row;
  padding: 2.5px;
}

.footer-menu a {
  padding: 2.5px;
}
